.k1 {
  width: 600px;
  height: 600px;
}

#background {
  display: flex;
  flex-direction: row;
}

#motherboard,
#cpu,
#psu,
#gpu,
#cooling,
#hard-drive,
.m1,
.c1,
.g1,
.hd1,
.r1,
.po1,
.co1 {
  min-width: 30px;
  min-height: 30px;
  position: absolute;
}

#ram {
  width: 75px;
  min-height: 200px;
  position: absolute;
}

#mb-desc {
  display: none;
}

.m1:hover #mb-desc {
  display: block;
  color: brown;
}

#text_show {
  position: absolute;
}

#text {
  resize: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.m1 {
  width: 300px;
  height: 348px;
}

.c1 {
  width: 72px;
  height: 72px;
}

.g1 {
  width: 300px;
  height: 50px;
}

.hd1 {
  width: 150px;
  height: 50px;
}

.po1 {
  width: 240px;
  height: 120px;
}

.co1 {
  width: 120px;
  height: 120px;
}

.r1 {
  height: 220px;
}

#start_game {
  font-family: Roboto;
}

#start_game_button {
  font-family: Roboto;
  margin-bottom: 5px;
}

#start_game_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#text {
  font-family: Roboto;
}

#choose_language {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

#choose_language_button {
  font-family: Roboto;
  font: bold 25px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-right: 20px;
}

#body-bg {
  background-color: aquamarine
}